./data  
!data/*.py
./my_script/ui_v2_experiment/output
*.jpg
*.png
*.webp
*.txt
run_faceID.py
run_faceID.sh
tutorial_train_sdxl_faceID.py
tutorial_train_sdxl_faceID.sh
*.yaml
InstantID/
instantid/
.pyc
.json
.npy
__pycache__